@{
  Layout = "_Layout";
}

<h1>Welcome to Eau Claire's Salon!</h1>

<p>@Html.ActionLink("List of stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("Add a stylist", "Create", "Stylists")
<p>@Html.ActionLink("Add a client", "Create", "Clients")